Game Files/errorlog.txt
Game Files/Game.rxdata
Game Files/*.rxdata
Game Files/Saves/*.rxdata
Game Files/*.png
Game Files/.dev/Concepts/Fakemons/*.kra
Game Files/.dev/Concepts/Fakemons/*.png
Game Files/*.kra~
